.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  height: 80px;
  background-color: #ffffff;
  background-image: linear-gradient( #1b98f8, #00d661);
}

.navTitle{
  font-weight: 750;
}

#navBtn{
  text-decoration: none;
  color:  rgb(0, 0, 0);
  font-weight: 700;
}

.form-control{
  padding: 30px;
}

#bodySpacing{
  padding: 0 10%;
}

#actionsSpacing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#mealName{
  font-weight: 625;
}

#table-row-naming-color{
  color: rgb(3,191,255);
  font-weight: 700;
  font-size: large;
}

#cheatMealCounterTitle  {
  margin-top: 30px;
  margin-bottom: 15px;
}

#editMealTitle{
  margin-top: 30px;
  margin-bottom: 15px;
}

#addDelicacy{
  margin-top: 30px;
  margin-bottom: 15px;
}


